body{
    background-image: url('../Footer/images/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-retr-5.jpg');
}

.footer_ul {
	display: flex;
	margin-top: 50px;
	margin-left: 50px;
  }
  .footer_ul ul li:first-child {
	font-weight: bolder;
  }
  .footer_ul ul li {
	margin-left: 150px;
	list-style: none;
  }
  .footer_ul a {
	color: black;
	font-size: 20px;
  }
  footer h2 {
	color: #ffe600;
	margin-top: 70px;
	padding-bottom: 50px;
	margin-left: 70px;
	font-size: 90px;
  }
  
  p,
  span{
      color: white;
  }
